
<header class="header">
  <div class="header__container">
    <div class="logo header__logo"><img class="header__logotype" src="../../images/LOGO.png"/></div>
    <nav class="navigation header__navigation">
      <ul class="navigation__menu">
        <li class="navigation__block"><a class="navigation__link" href="#">О нас</a></li>
        <li class="navigation__block"><a class="navigation__link" href="#">Услуги</a>
          <ul class="navigation__iner">
            <li><a class="navigation__iner-link" href="#">ф</a></li>
            <li><a class="navigation__iner-link" href="#">ф</a></li>
          </ul>
        </li>
        <li class="navigation__block"><a class="navigation__links" href="#">Вакансии</a></li>
        <li class="navigation__block"><a class="navigation__links" href="#">Новости</a></li>
        <li class="navigation__block"><a class="navigation__links" href="#">Соглашения</a>
          <ul>
            <li><a class="navigation__iner-link" href="#">ф</a></li>
            <li><a class="navigation__iner-link" href="#">ф</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="user header__user"></div>
  </div>
</header>