<!DOCTYPE html>
<html lang="ru">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../styles/sass/style.sass">
  </head>
</html>
<body>
  <header class="header">
    <div class="container header__container">
      <div class="logo header__logo"><img class="header__logotype" src="../../../images/LOGO.png"></div>
        <nav class="navigation header__navigation">
          <ul class="navigation__menu">
            <li class="navigation__block"><a class="navigation__link" href="#">О нас</a>
            </li>
            <li class="navigation__block"><a class="navigation__link" href="#">Услуги</a>
              <ul class="navigation__inner">
                <li class="navigation__block"><a class="navigation__link" href="#">Принеси</a></li>
                <li class="navigation__block"><a class="navigation__link" href="#">Подай</a></li>
              </ul>
            </li>
            <li class="navigation__block"><a class="navigation__link" href="#">Вакансии</a>
            </li>
            <li class="navigation__block"><a class="navigation__link" href="#">Новости</a>
            </li>
            <li class="navigation__block"><a class="navigation__link" href="#">Соглашения</a>
              <ul class="navigation__inner">
                <li class="navigation__block"><a class="navigation__link" href="#">Соглашение 1</a></li>
                <li class="navigation__block"><a class="navigation__link" href="#">Соглашение 2</a></li>
              </ul>
            </li>
          </ul>
        </nav>
    </div>
  </header>
  <!--header.header-->
  <!--    .header__container-->
  <!--        .logo.header__logo-->
  <!--            img.header__logotype(src="../../images/LOGO.png")-->
  <!--        nav.navigation.header__navigation-->
  <!--            ul.navigation__menu-->
  <!--                li.navigation__block-->
  <!--                    a(href="#").navigation__link О нас-->
  <!--                li.navigation__block-->
  <!--                    a(href="#").navigation__link Услуги-->
  <!--                    ul.navigation__inner-->
  <!--                        li-->
  <!--                            a(href="#").navigation__inner-link Не покажу-->
  <!--                        li-->
  <!--                            a(href="#").navigation__inner-link Не скажу-->
  <!--                li.navigation__block-->
  <!--                    a(href="#").navigation__links Вакансии-->
  <!--                li.navigation__block-->
  <!--                    a(href="#").navigation__links Новости-->
  <!--                li.navigation__block-->
  <!--                    a(href="#").navigation__links Соглашения-->
  <!--                    ul-->
  <!--                        li-->
  <!--                            a(href="#").navigation__inner-link ф-->
  <!--                        li-->
  <!--                            a(href="#").navigation__inner-link ф-->
  <!--        .user.header__user-->
  <!--            button.user__enter Войти-->
  <!--            button.user__registation Зарегистрироваться-->
  <h1 class="title">hello World</h1>
  <div class="col" id="container">
    <p class="text">something</p>
  </div>
</body>