mixin colorsBlock(blocksInfo)
    each block in blocksInfo
        .colors-type__item(class= block.last ? "colors-type__last-item":"")
            .colors-type__rectangle(class=block.className)
            .colors-type__info
                p.colors-type__color-name(class="colors-type__"+block.colorName)=block.colorName
                p.colors-type__color-info.colors-type__uppercase=block.hexInfo

block variables
    - var PageTitle = "Colors % Type";
    -
        var blocksInfo = [
            {className: "colors-type__dark-shade-100", colorName: "Dark Shade 100%", hexInfo: "#1f2041"},
            {className: "colors-type__dark-shade-75", colorName: "Dark Shade 75%", hexInfo: "#1f2041"},
            {className: "colors-type__dark-shade-50", colorName: "Dark Shade 50%", hexInfo: "#1f2041"},
            {className: "colors-type__dark-shade-25", colorName: "Dark Shade 25%", hexInfo: "#1f2041"},
            {className: "colors-type__dark-shade-5", colorName: "Dark Shade 5%", hexInfo: "#1f2041"},
            {className: "colors-type__purple", colorName: "Purple", hexInfo: "#bc9cff"},
            {className: "colors-type__green", colorName: "Green", hexInfo: "#6fcf97", last: true}
        ];

doctype html
html(lang="ru")
    head
        title= PageTitle
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet", href="style.css")
body
    .colors-type
        .colors-type__logo
            img(src="../../../../images/ui.kit.logo.png")
        .colors-type__list
            .colors-type__pallete
                +colorsBlock(blocksInfo)
            .colors-type__fonts